<div
    class="input"
    [ngClass]="{
        'input--error': error
    }"
    (click)="handleOpen(input)"
>
    <p
        class="input-label"
        [ngClass]="{
            'input-label--opened': visible
        }"
    >
        {{ placeholder }}
    </p>
    <input
        #input
        [formControl]="control"
        [type]="type"
        [required]="required"
        class="input-base"
        [ngClass]="{
            'input-base--visible': visible
        }"
        (blur)="handleClose($event)"
    />
</div>
