<section class="roga-screen">
    <section class="roga-head"></section>
    <form #f="ngForm" class="roga-form" (ngSubmit)="handle(f)">
        <h1 class="roga-title">Queremos saber de ti</h1>
        <p class="roga-desc">Para iniciar con tu solicitud de crédito RogaPay necesitamos conocerte un poco más.</p>

        <app-input [placeholder]="'Nombre'" [name]="'name'" ngModel></app-input>
        <app-input [placeholder]="'Apellido Paterno'" [name]="'firstName'" ngModel></app-input>
        <input name="lastName" placeholder="Apellido" ngModel />

        <button class="roga-btn" type="submit">Continuar</button>
    </form>
</section>
