.checkbox {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.check {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease-in-out 0.15s;
}
.check:active {
    opacity: 0.8;
}
.check-box {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-right: 12px;
}
.check-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 20px;
}
.check--active {
    background-color: #3d589d;
    border-color: #3d589d;
}
.check-label {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}
.check-circle-dot {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
}
